.est-name {
	height: 80upx;
	text-align: center;
	line-height: 80upx;
	width: 100%;
	background: #ffffff;
	font-size: 32upx;
	font-weight: 600;
}

.jf-btn {
	background-color: rgba(236, 64, 64, 0.1);
	color: #ec3e3e;
	border: 1px solid #ec3e3e;
	padding: 16upx 40upx;
	border-radius: 72upx;
	font-size: 28upx;
	line-height: 40upx;
}

.icon-wra {
	flex-direction: column;
	text-align: center;
	position: relative;
}
.line {
	width: 2upx;
	height: 80upx;
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	background-color: #ebebeb;
}

.clear-bill {
	/* line-height: 80upx; */
	color: #898989;
	text-align: center;
}

.est-img {
	height: 200upx;
	width: 200upx;
}

.user-list {
	margin-left: 30upx;
}
.user-list-cell {
	display: flex;
	justify-content: space-between;
	height: 50upx;
	padding-left: 30upx;
	margin-top: 20upx;
}

.user-list-cell-right {
	line-height: 80upx;
	text-align: right;
	padding-left: 20upx;
	color: #898989;
}

.uni-cell-75 {
	width: 75%;
}

.est-balance-text {
	line-height: 40upx;
	color: #898989;
}

.more-bill {
	color: #ec3e3e;
	margin-top: 10upx;
}

.est-balance {
	height: 80upx;
	width: 80upx;
	display: inline-block;
	margin: 0 auto;
}

.est-pay {
	background: #f7f6fb;
}

.est-content {
	background: #ffffff;
	margin: 20upx 0;
	padding-bottom: 10upx;
	border-radius: 10upx;
}

.est-title {
	padding: 10upx;
	color: #898989;
}

.est-content-header {
	text-align: center;
	line-height: 60upx;
}

.pay-cost {
	background: #ffead7;
	border: 1upx solid #ec3e3e;
	color: #ec3e3e;
	border-radius: 10upx;
	padding: 5upx 20upx 5upx;
}
