page {
	min-height: 100vh;
	background-color: #FAFAFA;
}
.room-number {
	font-size: 24upx;
	color: #007aff;
}
.profily,
.profily_header {
	border-radius: 8px;
}
.center {
	height: 100%;
}
.center_top {
	height: 150upx;
	background-size: cover;
}

.center_box_bg {
	background: #f9f9f9;
	position: relative;
	/* bottom: 100upx; */
}
.mask {
	background: rgba(0, 0, 0, 0.4);
	height: 100%;
}
.profily {
	position: absolute;
	width: 90%;
	margin: 0 auto;
	top: -100upx;
	left: 5%;
	background: #fefefe;
	padding: 35upx;
	box-sizing: border-box;
	box-shadow: 0px 2px 5px #ededed;
}
.base {
	display: flex;
	align-items: center;
	padding: 0 20upx 20upx;
	position: relative;
	vertical-align: middle;
}
.base .tx1 {
	font-size: 32upx;
	color: #333;
	line-height: 50upx;
	font-weight: 600;
}
.base .tx2 {
	font-size: 30upx;
	color: #333;
	line-height: 50upx;
}
.base .tx3 {
	font-size: 26upx;
	color: #666;
	line-height: 36upx;
}
.base_image{
	position: absolute;
	height: 40upx;
	width: 40upx;
	right: 20upx;
	top: 15upx;
}
.profily_header {
	height: 120upx;
	width: 120upx;
	background-size: 100%;
	border-radius: 50%;
	margin-right: 30upx;
}
.order_status {
	display: flex;
	justify-content: space-between;
	margin-top: 35upx;
}

.baiban {
	background-color: #FAFAFA;
	height: 300upx;
}
.status {
	width: 140upx;
	font-size: 24upx;
	text-align: center;
	letter-spacing: 0.5px;
	display: flex;
	flex-direction: column;
	color: #666;
}
.icon {
	width: 90upx;
	height: 90upx;
	margin: 0 auto;
	margin-bottom: 5px;
}
.center_menu {
	width: 100%;
	display: inline-block;
	padding-top: 50upx;
	background-color: #FAFAFA;
}
.menu_item {
	font-size: 28upx;
	letter-spacing: 1px;
	padding: 34upx 5%;
	background:  #FAFAFA;
	overflow: hidden;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	position: relative;
	border-bottom: 1px solid #efefef;
}

.menu_item text:nth-of-type(1) {
	margin-left: 10px;
}
.menu_item image {
	width: 40upx;
	height: 40upx;
}
.uni-empty{
	padding-top: 60upx;
	width: 100%;
	bottom: 0upx;
	background-color: #FAFAFA;
	font-size: 24upx;
	color: #606060;
}