page {
	min-height: 100vh;
	background-color: #FAFAFA;
}
.room-number {
	font-size: 24upx;
	color: #007aff;
}

.center {
	height: 100%;
	min-height: 100vh;
}
.center_top {
	height: 18%;
	background-size: cover;
}

.center_box_bg {
	position: relative;
}
.mask {
	background: rgba(0, 0, 0, 0.4);
	height: 100%;
}
.profily {
	position: absolute;
	width: 90%;
	margin: 0 auto;
	top: -100upx;
	left: 5%;
	background: #fefefe;
	padding: 35upx;
	box-sizing: border-box;
	box-shadow: 0px 2px 5px #ededed;
}
.base {
	display: flex;
	align-items: center;
	padding: 20upx;
	position: relative;
	vertical-align: middle;
}
.base .tx1 {
	font-size: 32upx;
	color: #333;
	line-height: 50upx;
	font-weight: 600;
}
.base .tx2 {
	font-size: 30upx;
	color: #333;
	line-height: 50upx;
}
.base .tx3 {
	font-size: 26upx;
	color: #666;
	line-height: 36upx;
}
.base_image{
	position: absolute;
	height: 40upx;
	width: 40upx;
	right: 50upx;
	top: 35upx;
}
.profily_header {
	height: 120upx;
	width: 120upx;
	background-size: 100%;
	border-radius: 50%;
	margin-right: 30upx;
}
.order_status {
	display: flex;
	justify-content: space-between;
	margin: 50upx 20upx;
	background-color: #fff;
	padding: 36upx 30upx;
	border-radius: 10upx;
}

.status {
	width: 140upx;
	font-size: 24upx;
	text-align: center;
	letter-spacing: 0.5px;
	display: flex;
	flex-direction: column;
}
.icon {
	width: 60upx;
	height: 60upx;
	margin: 0 auto;
	margin-bottom: 5px;
}
.center_menu {
	width: 100%;
	display: inline-block;
}
.menu_item {
	font-size: 28upx;
	letter-spacing: 1px;
	padding: 14px 5%;
	overflow: hidden;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	position: relative;
}

.menu_item text:nth-of-type(1) {
	margin-left: 30upx;
}
.menu_item image {
	width: 46upx;
	height: 46upx;
}
.menu_item .icon {
	position: absolute;
	top: 28upx;
	right: 30upx;
}
.menu_item .icon .uni-icons {
	color: #ccc!important;
}
.uni-empty{
	padding-top: 50upx;
	width: 100%;
	bottom: 0upx;
	background-color: #f9f9f9;
	font-size: 24upx;
	color: #999;
	vertical-align: middle;
}
.uni-empty .text1,
.uni-empty .text2 {
	display: inline-block;
	width: 60upx;
	height: 2upx;
	background-color: #e6e6e6;
	vertical-align: middle;
}
.uni-empty .text1 {
	margin-right: 20upx;
}
.uni-empty .text2 {
	margin-left: 20upx;
}