.housekeeper {
	min-height: 100vh;
	box-sizing: border-box;
	background-color: #fff;
}
.header {
	padding: 40upx 24upx;
	border-bottom: 30upx solid #FAFAFA;
	text-align: center;
}
.header .avatar {
	width: 160upx;
	height: 160upx;
	display: inline-block;
}
.header .avatar image {
	width: 100%;
	height: 100%;
}
.header .user-name {
	font-size: 32upx;
	font-weight: 600;
	line-height: 50upx;
	color: #333;
	margin: 15upx 0 20upx;
}
.header .labels {
	display: inline-block;
	font-size: 24upx;
	line-height: 34upx;
	margin-bottom: 40upx;
}
.header .labels .lab1 {
	margin-right: 40upx;
	display: inline-block;
	padding: 4upx 20upx;
	color: #ec3e3e;
	background-color: rgba(236,62,62, 0.1);
	border-radius: 4upx;
}
.header .labels .lab2 {
	margin-right: 40upx;
	padding: 4upx 20upx;
	color: #33b5ff;
	background-color: rgba(51,181,255,0.1);
	border-radius: 4upx;
}
.header .labels .lab3 {
	padding: 4upx 20upx;
	color: #65d8bf;
	background-color: rgba(101,216,191,0.1);
	border-radius: 4upx;
}
.header .btn-wrapper {
	display: flex;
	justify-content: space-between;
}
.header .btn-wrapper .hujiao,
.header .btn-wrapper .evaluate {
	font-size: 28upx;
	line-height: 40upx;
	color: #fff;
	background-color: #ec3e3e;
	border-radius: 4upx;
	padding: 10upx 20upx;
}
.header .btn-wrapper .hujiao:active,
.header .btn-wrapper .evaluate:active {
	opacity: 0.6;
}
.header .btn-wrapper image {
	width: 64upx;
	height: 64upx;
}
.header .btn-wrapper image:active {
	opacity: 0.6;
}
.content-wrapper .text {
	padding: 10upx 24upx 0;
}
.content-wrapper .eval {
	padding: 30upx 24upx;
	border-top: 1px solid #ebebeb;
}
.content-wrapper .eval .eval-item {
	margin-bottom: 60upx;
	display: flex;
}
.content-wrapper .eval .eval-item:last-child {
	margin-bottom: 0;
}
.content-wrapper .eval .eval-item image {
	width: 90upx;
	height: 90upx;
	margin-right: 20upx;
}
.content-wrapper .eval .eval-item .intro-wrapper{
	flex: 1;
}
.content-wrapper .eval-item .intro-wrapper .introduce  {
	margin-bottom: 10upx;
}
.content-wrapper .eval-item .intro-wrapper .introduce .name {
	font-size: 28upx;
	line-height: 40upx;
	color: #666;
	margin-right: 20upx;
}
.content-wrapper .eval-item .intro-wrapper .introduce .date {
	font-size: 24upx;
	line-height: 40upx;
	color: #999;
}
.content-wrapper .eval-item .intro-wrapper .introduce .rate {
	float: right;
	height: 50upx;
	line-height: 50upx;
	padding: 9upx 0;
	box-sizing: border-box;
}

.content-wrapper .eval-item .intro-wrapper .eval-text  {
	font-size: 28upx;
	line-height: 42upx;
	color: #333;
	text-align: justify;
}
.content-wrapper .service-area {
	padding: 30upx 0;
	border-top: 1px solid #ebebeb;
}
.content-wrapper .service-area .adr-wrapper {
	padding: 0 24upx;
	margin-bottom: 30upx;
}
.content-wrapper .service-area .adr-wrapper .uni-icons {
	color: #999!important;
	margin-right: 10upx;
}
.content-wrapper .service-area .adr-wrapper .title {
	font-size: 30upx;
	color: #333;
	line-height: 42upx;
}
.content-wrapper .service-area .b-wrapper {

}
.content-wrapper .service-area .b-item {
	display: inline-block;
	font-size: 30upx;
	line-height: 42upx;
	color: #ec3e3e;
	padding: 20upx 40upx;
	border: 1px solid #ec3e3e;
	margin: 0 24upx 50upx;
	border-radius: 6upx;
}