.uni-padding-wrap {
	padding: 30upx 24upx;
	width: 100%;
	box-sizing: border-box;
	min-height: 100vh;
	background-color: #FAFAFA;
}
.po-event-none{
	pointer-events: none
}
.type-select {
	padding: 30upx;
	background: #ffffff;
	border-radius: 10upx;
}
.payment-content {
	background: #ffffff;
}
.payment-content:first-child {
	padding-bottom: 30upx;
	margin-bottom: 30upx;
	border-bottom: 1px solid #EBEBEB;
}
.payment-content-cell {
	display: flex;
}
.pay-type {
	line-height: 100upx;
	font-size: 30upx;
	color: #333;
	font-weight: 600;
}
.pay-icon {
	height: 80upx;
	width: 80upx;
	border-radius: 20upx;
}
.rmbLogo {
	font-size: 48upx;
}
.uni-cell-lineheight-80 {
	padding-left: 30upx;
}

button {
	background-color: #ec3e3e;
	color: #ffffff;
	border-radius: 50upx;
}

.uni-h1.uni-center {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-end;
}

.price {
	border-bottom: 1px solid #eee;
	width: 300upx;
	height: 80upx;
	padding-bottom: 4upx;
	color: #ec3e3e;
	font-size: 64upx;
}

.ipaPayBtn {
	margin-top: 30upx;
}